body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

section {
    padding: 60px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


#hero {
    background: #0077ff;
    color: white;
    padding: 80px 20px;
}

button {
    background: white;
    color: #0077ff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    transform: scale(1);
    transition: 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

nav {
    background: #222;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

section:first-of-type {
    margin-top: 80px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
}
.whatsapp-btn {
    display: inline-block;
    background: #25D366;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
#courses ul {
    list-style: none;
    padding: 0;
}

#courses li {
    background: #f3f3f3;
    margin: 10px auto;
    padding: 12px 20px;
    width: 60%;
    border-radius: 6px;
    font-size: 18px;
}
